@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  border: none;
}

.page-top {
  background-color: hsl(217, 28%, 15%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.site-logo {
  height: 40px;
  width: 130px;
}

.top-links {
  display: flex;
  gap: 50px;
}

.top-link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.top-link:hover {
  color: white;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
}

.page-top-img {
  height: 450px;
  width: fit-content;
  margin-top: 25px;
}

.page-top-div {
  color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.curve-background-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url("./images/bg-curvy-desktop.svg");
  background-size: cover;
  padding-bottom: 50px;
}

.page-top-header {
  font-size: 32px;
  width: 60%;
  text-align: center;
  font-weight: bold;
}

.page-top-text {
  font-size: 16px;
  width: 50%;
  text-align: center;
}

.page-top-button {
  background-color: hsl(176, 69%, 47%);
  color: white;
  font-weight: bold;
  padding: 10px 75px;
  border-radius: 25px;
  width: fit-content;
  margin-bottom: 150px;
}

.page-top-button:hover, .email-button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: hsl(176, 81%, 60%);
}

.details {
  background-color: hsl(218, 28%, 13%);
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 150px;
}

.details-a {
  display: flex;
  justify-content: space-between;
}

.details-b {
  display: flex;
  justify-content: space-between;
}

.details-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.details-icons {
  height: fit-content;
  width: fit-content;
  margin-bottom: 20px;
  height: 70px;
  width: 85px;
}

#security-icon {
  width: 65px;
}

.details-heading {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.details-text {
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
}

.stay-productive {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  align-items: center;
  padding: 45px 75px;
  gap: 50px;
}

.stay-productive-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stay-productive-img {
  height: 300px;
}

.stay-productive-heading {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.stay-productive-text {
  color: rgba(255, 255, 255, 0.85);
}

.stay-productive-link {
  color: hsl(176, 69%, 47%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.stay-productive-link:hover {
  color: white;
}

.stay-productive-link:hover use {
  fill: white;
}

.quotes {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  padding: 100px;
  gap: 25px;
  position: relative;
  z-index: 1;
}

.quotes::before {
  content: url("./images/bg-quotes.png");
  position: absolute;
  left: 90px;
  top: 63px;
  z-index: -1;
}

.quote {
  background-color: hsl(218, 27%, 18%);
  padding: 20px;
  box-shadow: 5px 5px 3px hsl(217, 28%, 15%);
  border-radius: 5px;
}

.quote-text {
  font-size: 13px;
  color: white;
  margin-bottom: 20px;
}

.quote-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.quote-by {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quote-by div {
  display: flex;
  flex-direction: column;
}
.quote-name {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.quote-company {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.7);
}

.get-access-area {
  background-color: hsl(218, 28%, 13%);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-access {
  background-color: hsl(218, 27%, 18%);
  width: 60%;
  padding: 20px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px hsl(216, 28%, 10%);
}

.get-access-heading {
  font-size: 28px;
  font-weight: bold;
}

.get-access-text {
  font-size: 13px;
}

.email-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.email-input {
  padding: 10px 25px;
  border-radius: 25px;
}

.email-input::placeholder {
  color: rgb(39, 40, 92);
  font-size: 12px;
}

.email-button {
  background-color: hsl(176, 69%, 47%);
  color: white;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  width: fit-content;
}

.email-error {
  color: red;
  font-weight: bold;
  font-size: 10px;
  margin-top: -15px;
  margin-right: auto;
  margin-left: 30px;
}

.behind-email-area {
  background-color: hsl(216, 53%, 9%);
  height: 150px;
  margin-top: -150px;
}

footer {
  background-color: hsl(216, 53%, 9%);
  height: 200px;
  color: white;
}